
body{
    font-family: "Roboto", sans-serif;
    
}
.right{
    position: relative;
    float: right
}
.left{
    position: relative;
    float: left;
}
.blue{
    background-color: #0984e3 !important;
    color: #f6f6f7;
}
.color{ 
    display: block;
    margin: 1.2rem 0;
    font-size: 26px;
    font-size: 2.6rem;
    color: #0984e3;
    color: #FC466B;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#FC466B),to(#0984e3));
    background: -o-gradient(linear,left top,left bottom,from(#FC466B),to(#0984e3));
    -webkit-background-clip: text;
  }
  
  .color:before { 
      content: '';
  }
        
   

.color-p{
    color: #7b7b7b;
}
h3{
    line-height: 50px;
    font-size: 45px;
    span{
        color:#0984e3;
    }
}
.space-2{
    letter-spacing: 2px; 
}
.btn-primary{
    border-radius: 33px !important;
    font-size: 15px;
    margin-left: 30px;
}
.padt-1{
    padding-top: 45px;
}
.padb-1{
    padding-bottom: 45px;
}
.magb-1{
    margin-bottom: 35px;
}

.bg-blue{
    background-color: #0984e3;
}
.gray{
    background-color: #f2f4f8;

}
.bg-gray{
    background-color: #f2f4f8;
}
.bg-gray:hover{
    background-color: #f2f4f8;
    -webkit-animation-name: bghover;
    -webkit-animation-duration: 4s; 
    animation-name: bghover;
    animation-duration: 4s;
}
@-webkit-keyframes bghover {
    from {background-color: #f2f4f8;
          color: #3a3a3a;  }
    to {background-color: #0984e3;
        color: white;}
  }
  @keyframes bghover {
    from {background-color: #f2f4f8;
            color: #3a3a3a;}
    to {background-color:#0984e3 ;
        color: white;   }
  }
  .text-hover{
    color: #3a3a3a;

}
.text-hover:hover{
    color: #3a3a3a;
    -webkit-animation-name: h4hover;
    -webkit-animation-duration: 2s; 
    animation-name: h4hover;
    animation-duration: 2s;
}
@-webkit-keyframes h4hover {
    from {color: #3a3a3a;}
    to {color: #0984e3;}
  }
  @keyframes h4hover {
    from {color: #3a3a3a;}
    to {color:#0984e3 ;}
  }
#header{
    width: 100%;
    .head-area{
        height: 100%;
        
        .navbar{
            padding: 20px 1rem !important;
            border-bottom: 1px solid #f2f4f8;
            height: 90px;
            .nav-item{
                .nav-link{
                    padding-right: 1.5rem;
                }
                
            }
        }
    }
}
.welcome{
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: #f2f4f8;
    overflow: hidden;
    padding-top: 90px;
    h2{
        margin-bottom: 30px !important;
        color: #3a3a3a !important;
        font-size: 5rem;
    }
    P{  font-size: 18px;
        padding-bottom: 5%;
        font-weight: 400;
        line-height: 1.9;

    }
    .btn-primary{
        padding-left: 35px;
        padding-right: 35px;
        margin: 0 auto;
        width: 33%;
        line-height: 200%;
    }
    .style1{
        border-radius: 50%;
        height: 500px;
        position: absolute;
        right: -10%;
        top: 50%;
        width: 500px;
        z-index: -5;
        opacity: 0.15;
        background-color: #0984e3;
    }
    .style2{
        border-radius: 50%;
        bottom: 150px;
        height: 300px;
        position: absolute;
        right: 150px;
        width: 300px;
        z-index: 5;
        opacity: 0.2;
        background-color: #0984e3;
        
    }
    .style3{
        border-radius: 50%;
        bottom: 20px;
        height: 200px;
        position: absolute;
        right: 280px;
        width: 200px;
        z-index: 9;
        opacity: 0.15;
        background-color: #0984e3;
    }
    .style4{
        border-radius: 50%;
        bottom: 385px;
        height: 100px;
        position: absolute;
        right: 350px;
        width: 100px;
        z-index: 5;
        opacity: 0.11;
        background-color: #0984e3;
    }
}
.Bright{
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100%;
    
    .content-product{
        padding: 25px 25px;
    
    .content-item{
        padding: 25px 40px 25px 40px;;
        position: relative;
        border-radius: 6px;
        margin-bottom: 30px;
        h3{
            font-size: 20px;
            font-weight: 300;
            
        
        }
        .icon{
            top: 35%;
            position: absolute;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background: #0984e3;
            color: #f2f4f8;
            left: 92%;
            i{
                position: relative;
                top: -261px;
                z-index: 2;
            }
            .sonar-wrapper {
                position: relative;
                z-index: 1;
            
                padding: 8rem 0;
                .sonar-emitter {
                    top:-112px;
                    position: relative;
                    margin: 0 auto;
                    width: 20px;
                    height: 20px;
                    border-radius: 9999px;
                    background-color: #2e84e3;
                    left: calc(50% + 105px);
                    .sonar-wave {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 9999px;
                        background-color: #2e84e3;
                        opacity: 0;
                        z-index: 1;
                        pointer-events: none;
                      }
                      .sonar-wave {
                        animation: sonarWave 2s linear infinite;
                      }
                      
                      @keyframes sonarWave {
                        from {
                          opacity: 0.4;
                        }
                        to {
                          transform: scale(3);
                          opacity: 0;
                        }
                      }
                  }
              }
        }
        .icon::before{
            
            content: "";
            height: 3px;
            left: 50%;
            margin-top: -1.5px;
            position: absolute;
            top: 50%;
            width: 120px;
            z-index: 1;
            background: #0984e3;

        }
        
    }
}
    .img-product{
        img{
            width: 100%;
        }
    }
}
.video_area{
    background-image: url('./image/video-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
    .video-text{
        top: 35%;;
        justify-content: center;
        position: relative;
        h2{
            font-size: 4em;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: .5rem;
            font-family: inherit;
        }
    }

}
.video_area::before{
    content: "";
    background:linear-gradient(to right, #0d104d, #28408b);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
}
.about_app_area{
    padding-top: 100px;
    height: 100%;
    .about-img{
        position: relative;
        height: auto;
        display: block;
        .big-img{
            position: relative;
            z-index: 1;
        }
        .small-img{
            position: absolute;
            left: 44%;
            top: 149px;

        }
    }
    .about-text{
        padding-top: 150px;
        height: 100%;
        h3{
            font-size: 2.5em;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        p{
            color: #7b7b7b;
            font-weight: 400;
            line-height: 1.9;
            font-size: 16px;
        }
        .btn-primary{
            border: none;
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            padding: 20px 50px;
            position: relative;
            z-index: 1;
            border-radius: 50px;
            line-height: 1;
            margin: 0%;
            
        }
    }
}

.using_benefits_area{
    width: 100%;
    .using-area{
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        
        }
    }
.work{
    .work-area{
        position: relative;
        margin-bottom: 50px;
        
    }
}
.testimonial_area{
    background-image: url('./image/testimonials.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    .casuarousel-area{
        padding-top: 35px;
        height: 100%;
        .carousel-indicators li{
            border-radius: 50%;
            height: 20px;
            width: 20px;
            border: 5px solid white;
            
        }
        .carousel{
            
            .carousel-inner{
                height: 100%;;
                .name{
                    position: relative;
                    top: 150px;
                }
                .rating{
                    position: relative;
                    top: 100px;
                    i{color: #ff9800;
                        font-size: 20px;
                    }
                }
                .carousel-caption{
                    bottom: -15%;
                    p{
                        font-size: 20px;
                    }
                }
                .img-carousel{
                    position: relative;
                    border: 3px solid #ffffff;
                    border-radius: 50%;
                    height: 80px;
                    margin: 0 auto 30px;
                    padding: 3px;
                    width: 80px;
                }
            }
        }
        
    }
}
.testimonial_area::before{
    content: "";
    background: #3a3a3a;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.p-r{
    position: relative;
}
.Features{
    .features-area{
        position: relative;
    .features-text{
        height: 25%;
        .icon-text{
            position: relative;
        }
        .fea-text{
           position: relative;
            padding-left: 90px;
            bottom: 50%;
        }
    }
    
    
    .boder-features{
        height: 25%;
        width: 100%;
        position: relative;
    }
    .boder-features::before{
        content: '';
        width:100% ;
        height: 80%;
        border-bottom: 3px solid #aeb1b945;
        position: absolute;
    
    }
}
    .features-img{
        position: relative;
        padding-top: 35px;
        
        img{
            width: 100%;
        
        }
    }
}
.Screenshots{
    position: relative;
        img{
            width: 200px;
            height: auto;
        } 
}

.owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
    opacity: 0.5;
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
    opacity: unset;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }
.Pricing{
    .box-price{
        position: relative;
        background: #f6f6f7;
        border-radius: 20px;
        .price{
            font-size: 60px;
        }
        .description{
            padding-bottom: 20px;
        }
        .btn-primary{
            margin: 0 auto;
            width: 49%;
        }
    } 
}
.top{
    top: -20px;
    height: 108%;
}
.top::before{
    content: "Most Popular";
    background: #2e84e3;
    height: 40px;
    width: 160px;
    position: absolute;
    right: 94px;
    padding: 8px;
    top: -15px;
    color: #f2f4f8;
   
}
.total_subscriber{
    background-image: url("./image/call-to-action.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .btn-primary{
        width: 20%;
        line-height: 40px;
    }

}
.total_subscriber::before{
    content: "";
    background: #3a3a3a;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;

}
.creat-team-area{
    .creat-team-tittle{
        .line{
            margin: 15px 0;
            width: 100%;
            height: 1px;
            background-color: #f2f4f8;
            margin-bottom: 15px;
        }
        
    }
    .creat-team-img{
        img{
            width: 100%;
            padding-bottom: 20px;
        }
    }
}
.FAQ{
    .FAQ-box{
        .single-faq{
            margin-bottom: 15px;
            p{
                margin: 0;
                position: relative;
                .btn-default{
                    width: 100%;
                    background-color: #f6f6f7;
                    padding: 15px 40px 15px 20px;
                    .open{
                        right: 27px;
                        position: absolute;
                    }
                    .close{
                        right: 27px;
                        position: absolute;
                    }
    
                }
               
                .btn:focus{
                    box-shadow: none !important;
                }
                
                
            }
            .card{
                border: none;
            }
        }
      
       
    }
    .find-answer{
        background-color:#f6f6f7;
        .btn-primary{
            width: 49%;
            margin-bottom: 10px;
            line-height: 37px;
            i{
                margin-right: 3px;
            }
        }
        .btn-primary:hover{
            background: #f2f4f8;
            color: #0984e3;
            border: none;
            box-shadow: 3px 4px 20px 0 #00000026 !important;
           
        }
    }
    }
    .newsletter_area{
        background-image: url('./image/newsletter.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
        .form{
           
            width: 400px;
            height: 55px;
            border-radius: 30px;
            padding: 15px 30px;
            border: none;
           
        }
        .btn-primary{
            height: 55px;
            border-radius: 30px;
            padding: 15px 30px;
            margin: 0;

        }


    }
    .newsletter_area::before{
        content: "";
        background: #3a3a3a;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;

    }
    .Our-History{
       
        .time-line-area{
            height: 100%;
            .time-line-singer{
                position: relative;
                .time-line-text{                  
                    width: calc(50% - 50px);
                    background-color: #f2f4f8;
                    padding: 12px;
                }
                .time-line-icon{
                    position: absolute;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    color: #ffffff;
                    left: 48.5%;
                    box-shadow: 0 0 25px #00000026;
                    background-color: #0984e3;
                    
                    .far{
                        font-size: 23px !important;
                        padding: 8px 10px;
                    }
                    .fas{
                        font-size: 23px !important;
                        padding: 8px 11px;
                    }
                    .fab{
                        font-size: 23px !important;
                        padding: 8px 11px;
                    }
                    
                }
              
            }
            .left::after{
                content: "";
               background-color: #f2f4f8;
                left: calc(43%);
                height: 40px;
                width: 40px;
                position: absolute;
                transform: rotate(45deg);
                top: 14px;
                z-index: -1;
            }
            .right::after{
                content: "";
               background-color: #f2f4f8;
                left: calc(53%);
                height: 40px;
                width: 40px;
                position: absolute;
                transform: rotate(45deg);
                top: 20px;
                z-index: -1;
            }
        
            
        }
    }
    .time-line-area::before{
        content: "";
        border-right: 1px solid #7b7b7b33;
        left: calc(50.1%);
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .download-app{
        background-color: #0984e3;
        width: 100%;
        position: relative;
        .img-app{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .btn{
            border: none;
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            padding: 20px 42px;
            z-index: 1;
            border-radius: 50px;
            line-height: 1.3;
            background-color: #f2f4f8;
            color: #0984e3;
            width: 17%;;
        }
        .btn:hover{
            box-shadow: 5px 4px 20px 5px #f2f4f8;
        }
        .button-app{
            position: relative;
        }
    }
    .map-area{
        width: 100%;
        height: 500px;
        z-index: 0;
        position: relative;
    
    
    }


    .message_area{
        height: 100%;
        .text-message{
            width: 100%;
            padding: 25px;
            position: relative;
            background-color: #f2f4f8;
            top:-200px;
            z-index: 2;
            border-radius: 10px;

            textarea{
                height: 200px;  
        }
        .btn{
            line-height: 44px;
            width: 21%;
            text-transform: uppercase;
            font-weight: 500;
            margin: 0;
        }
    }
    .form-control{
        height: 50px;
        border: 2px solid #ffffff;
        text-transform: uppercase;
        font-size: 13px;
    }
    .form-control:focus{
        border-color: #0984e3;
    }
}
.footer-area{
    position: relative;
    top:-180px;
}