body {
  font-family: "Roboto", sans-serif;
}

.space-2 {
  letter-spacing: 2px;
}

.btn-primary {
  border-radius: 33px !important;
  font-size: 15px;
  margin-left: 30px;
}

.padt-1 {
  padding-top: 45px;
}

.padp-1 {
  padding-bottom: 45px;
}

.bg-blue {
  background-color: #0984e3;
}

.bg-gray {
  background-color: #f2f4f8;
}

.bg-gray:hover {
  background-color: #0984e3;
  color: #f2f4f8;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#header {
  width: 100%;
}

#header .head-area {
  height: 100%;
}

#header .head-area .navbar {
  padding: 20px 1rem !important;
  border-bottom: 1px solid #f2f4f8;
  height: 90px;
}

#header .head-area .navbar .nav-item .nav-link {
  padding-right: 1.5rem;
}

.welcome {
  position: relative;
  z-index: 1;
  height: 850px;
  background-color: #f2f4f8;
  overflow: hidden;
  padding-top: 90px;
}

.welcome h2 {
  margin-bottom: 30px !important;
  color: #3a3a3a !important;
  font-size: 5rem;
}

.welcome P {
  font-size: 18px;
  padding-bottom: 5%;
  font-weight: 400;
  line-height: 1.9;
}

.welcome .btn-primary {
  padding-left: 35px;
  padding-right: 35px;
}

.welcome .style1 {
  border-radius: 50%;
  height: 500px;
  position: absolute;
  right: -10%;
  top: 50%;
  width: 500px;
  z-index: -5;
  opacity: 0.15;
  background-color: #0984e3;
}

.welcome .style2 {
  border-radius: 50%;
  bottom: 150px;
  height: 300px;
  position: absolute;
  right: 150px;
  width: 300px;
  z-index: 5;
  opacity: 0.2;
  background-color: #0984e3;
}

.welcome .style3 {
  border-radius: 50%;
  bottom: 20px;
  height: 200px;
  position: absolute;
  right: 280px;
  width: 200px;
  z-index: 9;
  opacity: 0.15;
  background-color: #0984e3;
}

.welcome .style4 {
  border-radius: 50%;
  bottom: 385px;
  height: 100px;
  position: absolute;
  right: 350px;
  width: 100px;
  z-index: 5;
  opacity: 0.11;
  background-color: #0984e3;
}

.Bright {
  padding-top: 90px;
  padding-bottom: 90px;
}

.Bright h3 {
  line-height: 50px;
  font-size: 33px;
}

.Bright h3 span {
  color: #0984e3;
}

.Bright .content-product {
  padding: 25px 25px;
}

.Bright .content-product .content-item {
  padding: 25px 40px 25px 40px;
  position: relative;
  border-radius: 6px;
  margin-bottom: 30px;
}

.Bright .content-product .content-item h3 {
  font-size: 20px;
  font-weight: 300;
}

.Bright .content-product .content-item .icon {
  top: 35%;
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #0984e3;
  color: #f2f4f8;
  left: 92%;
}

.Bright .content-product .content-item .icon i {
  position: relative;
  top: 14px;
  z-index: 2;
}

.Bright .content-product .content-item .icon::before {
  content: "";
  height: 3px;
  left: 50%;
  margin-top: -1.5px;
  position: absolute;
  top: 50%;
  width: 120px;
  z-index: 1;
  background: #0984e3;
}

.Bright .content-product .content-item .icon::after {
  content: "";
  height: 20px;
  border-radius: 50%;
  left: calc(50% + 110px);
  margin-top: -1.5px;
  position: absolute;
  top: 36%;
  width: 20px;
  z-index: 1;
  background: #0984e3;
  -webkit-animation: sonarWave 2s;
          animation: sonarWave 2s;
}

.Bright .img-product img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */