
body{
    font-family: "Roboto", sans-serif;
}
.space-2{
    letter-spacing: 2px; 
}
.btn-primary{
    border-radius: 33px !important;
    font-size: 15px;
    margin-left: 30px;
}
.padt-1{
    padding-top: 45px;
}
.padb-1{
    padding-bottom: 45px;
}

.bg-blue{
    background-color: #0984e3;
}
.bg-gray{
    background-color: #f2f4f8;
}
.bg-gray:hover{
    background-color: #f2f4f8;
    -webkit-animation-name: bghover;
    -webkit-animation-duration: 4s; 
    animation-name: bghover;
    animation-duration: 4s;
}
@-webkit-keyframes bghover {
    from {background-color: #f2f4f8;}
    to {background-color: #0984e3;}
  }
  @keyframes bghover {
    from {background-color: #f2f4f8;}
    to {background-color:#0984e3 ;}
  }
#header{
    width: 100%;
    .head-area{
        height: 100%;
        
        .navbar{
            padding: 20px 1rem !important;
            border-bottom: 1px solid #f2f4f8;
            height: 90px;
            .nav-item{
                .nav-link{
                    padding-right: 1.5rem;
                }
                
            }
        }
    }
}
.welcome{
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: #f2f4f8;
    overflow: hidden;
    padding-top: 90px;
    h2{
        margin-bottom: 30px !important;
        color: #3a3a3a !important;
        font-size: 5rem;
    }
    P{  font-size: 18px;
        padding-bottom: 5%;
        font-weight: 400;
        line-height: 1.9;

    }
    .btn-primary{
        padding-left: 35px;
        padding-right: 35px;
    }
    .style1{
        border-radius: 50%;
        height: 500px;
        position: absolute;
        right: -10%;
        top: 50%;
        width: 500px;
        z-index: -5;
        opacity: 0.15;
        background-color: #0984e3;
    }
    .style2{
        border-radius: 50%;
        bottom: 150px;
        height: 300px;
        position: absolute;
        right: 150px;
        width: 300px;
        z-index: 5;
        opacity: 0.2;
        background-color: #0984e3;
        
    }
    .style3{
        border-radius: 50%;
        bottom: 20px;
        height: 200px;
        position: absolute;
        right: 280px;
        width: 200px;
        z-index: 9;
        opacity: 0.15;
        background-color: #0984e3;
    }
    .style4{
        border-radius: 50%;
        bottom: 385px;
        height: 100px;
        position: absolute;
        right: 350px;
        width: 100px;
        z-index: 5;
        opacity: 0.11;
        background-color: #0984e3;
    }
}
.Bright{
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100%;
    h3{
        line-height: 50px;
        font-size: 33px;
        span{
            color:#0984e3;
        }
    }
    .content-product{
        padding: 25px 25px;
    
    .content-item{
        padding: 25px 40px 25px 40px;;
        position: relative;
        border-radius: 6px;
        margin-bottom: 30px;
        h3{
            font-size: 20px;
            font-weight: 300;
            
        
        }
        .icon{
            top: 35%;
            position: absolute;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background: #0984e3;
            color: #f2f4f8;
            left: 92%;
            i{
                position: relative;
                top: -261px;
                z-index: 2;
            }
            .sonar-wrapper {
                position: relative;
                z-index: 1;
            
                padding: 8rem 0;
                .sonar-emitter {
                    top:-112px;
                    position: relative;
                    margin: 0 auto;
                    width: 20px;
                    height: 20px;
                    border-radius: 9999px;
                    background-color: #2e84e3;
                    left: calc(50% + 105px);
                    .sonar-wave {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 9999px;
                        background-color: #2e84e3;
                        opacity: 0;
                        z-index: 1;
                        pointer-events: none;
                      }
                      .sonar-wave {
                        animation: sonarWave 2s linear infinite;
                      }
                      
                      @keyframes sonarWave {
                        from {
                          opacity: 0.4;
                        }
                        to {
                          transform: scale(3);
                          opacity: 0;
                        }
                      }
                  }
              }
        }
        .icon::before{
            
            content: "";
            height: 3px;
            left: 50%;
            margin-top: -1.5px;
            position: absolute;
            top: 50%;
            width: 120px;
            z-index: 1;
            background: #0984e3;

        }
        
    }
}
    .img-product{
        img{
            width: 100%;
        }
    }
}
.video_area{
    background-image: url('./image/video-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
    .video-text{
        top: 35%;;
        justify-content: center;
        position: relative;
        h2{
            font-size: 4em;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: .5rem;
            font-family: inherit;
        }
    }

}
.video_area::before{
    content: "";
    background-color: #0984e3;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
}
.about_app_area{
    padding-top: 100px;
    height: 100%;
    .about-img{
        position: relative;
        height: auto;
        display: block;
        .big-img{
            position: relative;
            z-index: 1;
        }
        .small-img{
            position: absolute;
            left: 44%;
            top: 149px;

        }
    }
    .about-text{
        padding-top: 150px;
        height: 100%;
        h3{
            font-size: 2.5em;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        p{
            color: #7b7b7b;
            font-weight: 400;
            line-height: 1.9;
            font-size: 16px;
        }
        .btn-primary{
            border: none;
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            padding: 20px 50px;
            position: relative;
            z-index: 1;
            border-radius: 50px;
            line-height: 1;
            margin: 0%;
            
        }
    }
}